html {
  height: 100%;
  width: 100%;
}

.dropdown {
  display: inline-block;
  position: relative;
}

button[type="button"] {
  background-color: #ffff99;
  border: none;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}


* {
  margin: 0;
}

nav {
  background-color: #FFFF99;
  padding: 10px 15px 10px;
  font-size: 24px;
  margin-bottom: 20px;
}

.right {
  float: right;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.right a {
  margin: 10px 10px;
}

.icon {
  font-family: 'Rammetto One', cursive;
  font-size: 18px;
}

.hidden {
  display: none;
}
