body {
  background: linear-gradient(#cffffe, #f9f7d9, #fce2ce, #ffc1f3);;
}

.jumbotron {
  background-image: url("https://img.freepik.com/free-vector/realistic-galaxy-background_23-2148991324.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 80%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  color: white;
  line-height: 100px;
}

.jumbotron h1 {
  font-size: 60px;
  font-family: 'DotGothic16', sans-serif;
}

.jumbotron h3 {
  font-size: 26px;
  font-family: 'Gloria Hallelujah', cursive;
  vertical-align: middle;
}

.inputs {
  background-color: white;
  /*border-color: linear-gradient(#9dfffd, #f2edb0, #f8b98b, #ff91e9);*/
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Gluten', cursive;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 15px;
  margin-top: 10px;
}

label {
  margin: 7px;
}

.submit {
  padding: 6px 5px;
  font-family: 'Gluten', cursive;
}

.submit:hover {
  background: linear-gradient(0.25turn, red, orange, yellow, #00ea00, #6464ff, #c600c6);
  font-weight: bold;
  border-radius: 6px;
}

.pledge-card {
  margin 
}

.pledge-card h1 {
  
}

.pledge-card p {
  
}

.results {
  background-color: white;
  padding: 15px;
}
