body {
  background: linear-gradient(#cffffe, #f9f7d9, #fce2ce, #ffc1f3);;
}

.jumbotron {
  background-image: url("https://img.freepik.com/free-vector/realistic-galaxy-background_23-2148991324.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 80%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  color: white;
  line-height: 100px;
}

.jumbotron p {
  vertical-align: middle;
}

.inputs {
  /*background: linear-gradient(to top, rgba(#cffffe, 0.3), rgba(#f9f7d9, 0.3), rgba(#fce2ce, 0.3), rgba(#ffc1f3, 0.3));*/
  background-color: white;
  /*border-color: linear-gradient(#9dfffd, #f2edb0, #f8b98b, #ff91e9);*/
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 15px;
  margin-top: 10px;
}

label {
  margin: 7px;
}

.submit {
  padding: 6px 5px;
}