body {
  margin: 0;
}

* {
  margin: 0;
}

input[type="text"] {
  width: 250px;
  height: 30px;
}

.right {
  float: right;
}

nav {
  margin-bottom: 0;
}

#top-nav {
  background-color: black;
  height: 50px;
  border-bottom: 1px solid #e7c625;
  margin-bottom: 0;
  padding-right: 75px;
  padding-left: 75px;
}

#middle-nav {
  background-color: black;
  color: white;
  padding-right: 75px;
  padding-left: 75px;
  font-size: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

#bottom-nav {
  background-color: #1f2322;
  overflow: hidden;
  margin-bottom: 10px;
  padding-right: 75px;
  padding-left: 75px;
  font-family: Arial;
}

#bottom-nav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

aside {
  width: 230px;
  float: left;
  margin-left: 45px;
  border: 1px solid black;
}

aside h3 {
  background-color: black;
  color: #e7c625;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
  margin-top: 0
}

aside ul {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
}

aside li {
  padding: 2px;
}

aside li a {
  color: blue;
  text-decoration: none;
}

.appstate {
  width: 125px;
  margin: 5px;
}

section {
  margin-right: 75px;
  margin-left: 290px;
  margin-bottom: 105px;
}

section h2 {
  border-bottom: 1px solid #e7c625;
  margin-bottom: 5px;
  font-size: 30px;
}

article {
  background-color: #faede4;
  padding: 14px 16px;
  padding-bottom: 48px;
  margin-bottom: 20px;
}

article h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

form {
  margin-bottom: 10px;
}

select {
  margin-bottom: 5px;
}

footer {
  background-color: #333333;
  border-top: 10px solid #595959;
  padding-right: 75px;
  padding-left: 75px;
}

.top-section {}

.contact {
  width: 225px;
  color: white;
  float: left;
}

.contact2 {
  width: 255px;
  color: white;
}

.contact3 {
  color: white;
  margin-top: 10px;
}

.list {
  float: left;
  margin-bottom: 5px;
  margin-left: 25px;
}

.list p {
  color: white;
}

.list ul {
  color: #e7c625;
  display: inline-block;
  vertical-align: middle;
  list-style-image: url('../images/index2.png');
}

th {
  background-color: #1f2322;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

article h3 {
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 32px;
}

#language th, #project th, #study-abroad th {
  padding: 10px;
}

tr {
  margin-bottom: 15px;
}

table {
  margin-left: 10px;
}

tr:nth-child(even) {
  background-color: #cfd6d5;
}

#language td, #project td, #study-abroad td {
  padding: 5px 10px;
}

.home {
  list-style-image: url('../images/index.png');
  padding-top: 10px;
}

.note {
  list-style-image: url('../images/index.png');
}

.in {
  list-style-image: url('../images/index.png');
}

.login {
  list-style-image: url('../images/index.png');
}

select {
  width: 8em;
}

label {
  margin-left: 10px;
  margin-right: 5px;
}

caption {
  font-size: 2em;
  font-weight: bold;
}

.div-inline {
  display: inline-block;
}

button {
  font-weight: bold;
}