.quiz {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  width: 75%;
  border-radius: 10px;
  padding: 15px;
  font-family: 'Special Elite', cursive;
}

body {
  background-color: #B0E0E6;
  /*background-attachment: fixed;*/
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
}

h5 {
  font-size: 20px;
  width: 200px;
  border-bottom: 1px solid black;
}

.about {
  margin-bottom: 15px;
}

label {
  padding: 10px;
}

input[type="radio"] {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 17px;
}

input[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  border: 3px solid #a3f1ef;
  background-color: #4f4fff;
  color: #a3f1ef;
  border-radius: 7px;
  font-weight: 300;
}

input[type="submit"]:hover {
  margin-top: 20px;
  padding: 10px;
  border: 3px solid #eaef21;
  background-color: #ec0600;
  color: #eaef21;
  border-radius: 7px;
  font-weight: 300;
  transition: 3s;
  cursor: pointer;
}

.about img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 100%;
}

span {
  padding: 15px;
  background-color: black;
  color: white;
  font-size: 15px;
  margin-right: 12px;
  /*margin-bottom: 10px;*/
  font-family: 'Press Start 2P', cursive;
}

form p {
  margin-bottom: 20px;
  line-height: 31px;
  font-size: 20px;
}
