.quiz {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  width: 75%;
  border-radius: 10px;
  padding: 15px;
  font-family: 'Special Elite', cursive;
}

body {
  background-color: #B0E0E6;
  /*background-attachment: fixed;*/
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
}

h5 {
  font-size: 20px;
  width: 200px;
  border-bottom: 1px solid black;
}

.about {
  margin-bottom: 15px;
}

label {
  padding: 10px;
}

input[type="radio"] {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 17px;
}

 input[type="button"] {
  margin-top: 20px;
  padding: 10px;
  border: 3px solid #a3f1ef;
  background-color: #4f4fff;
  color: #a3f1ef;
  border-radius: 7px;
  font-weight: 300;
}

input[type="button"]:hover {
  margin-top: 20px;
  padding: 10px;
  border: 3px solid #eaef21;
  background-color: #ec0600;
  color: #eaef21;
  border-radius: 7px;
  font-weight: 300;
  transition: 0.3s;
  cursor: pointer;
}

.about img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 100%;
}

span {
  padding: 15px;
  background-color: black;
  color: white;
  font-size: 15px;
  margin-right: 12px;
  /*margin-bottom: 10px;*/
  font-family: 'Press Start 2P', cursive;
}

form p {
  margin-bottom: 20px;
  line-height: 31px;
  font-size: 20px;
}


.result {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 350px;
  border-radius: 10px;
  padding: 15px;
}

.hidden {
  display: none;
}

.taro .card {
  border-top: 6px solid red;
  border-left: 6px solid red;
  border-bottom: 6px solid #ae0000;
  border-right: 6px solid #ae0000;
  background-color: #ff8080;
  width: 97%;
}

img {
  margin: 5px;
}

.image-card {
  margin: 5px;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card {
  width: 97%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.front,
.back {
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: row;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
  z-index: 1;
}

.image {
  width: 110px;
  height: 150px;
}

.flipped {
  transform: rotateY(180deg);
}

#flip-button-taro {
  margin-left: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px 32px;
  background-color: #ec0600;
  color: #eaef21;
  border: none;
  border-radius: 5px;
}

#flip-button-taro:hover {
  background-color: #bf0500;
}



