@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.text-primary {
  background-color: #B0E0E6;
}

article {
  background-color: #FFFF99;
  margin: 30px;
  padding: 7px;
  color: black;
}

img {
  height: 240px;
  margin: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

article h1 {
  margin-bottom: 20px;
  font-family: 'Amatic SC', cursive;
}

.gallery {
  background-color: white;
}

.gallery h2 {
  font-family: 'Amatic SC', cursive;
}

button {
  color: black;
}

.button-nav button:hover {
  text-decoration: underline;
}

.w-75 .button-nav {
  margin-bottom: -30px;
}

.w-75 {
  margin: 45px;
}

.button-nav button {
  background-color: white;
  border: none;
  padding: 15px;
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
}

h2 {
  padding-top: 15px;
  padding-left: 45px;
  padding-bottom: 15px;
  font-family: 'Amatic SC', cursive;
}

.white-card h1 {
  background-color: white;
  font-family: 'Amatic SC', cursive;
}

.white-card .flex {
  background-color: #FFFF99;
  padding-top: 20px;
}

.flex::after {
  content: "";
  width: 56%;
}

.photo { 
  background-color: white;
  width: auto;
  height: auto;
  padding: 20px;
  margin: 15px;
  text-align: center;
}

h4 {
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
}