body {
  background-color: white;
}

section {
  border: 8px solid lime;
  border-radius: 10px;
  margin: 15px auto;
  width: 45%;
  padding: 20px;
}

h1 {
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.letters {
  width: 30px;
  height: 30px;
}

.placed-letters {
  margin-bottom: 20px;
  margin-top: 10px;
}

.valid-letters {
  margin-bottom: 20px;
  margin-top: 10px;
}

.bad-letters {
  margin-bottom: 20px;
  margin-top: 10px;
}

h1, p, h4 {
  font-family: 'Open Sans', sans-serif;
}

button.enter {
  background-color: lime;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}
